<!DOCTYPE html>
<html>
<head>
    <title>Heatmaps</title>
    <link
            rel="stylesheet" type="text/css" href="{{ url_for('static',
            filename='css/index.css') }}" />
    <script type="text/javascript" src="{{
            url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{
            url_for('static', filename='js/state_and_city.js') }}"></script>
    <script type="text/javascript" src="{{
            url_for('static', filename='js/auto_fill_and_geo.js') }}"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtSafk_fwKKGG2eKGIt1W_d27Any8JzrQ&callback=initMap&libraries=visualization,geometry,places&v=weekly"
            defer></script>
    <script type='text/javascript' >
        window.response;
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
                    <a href="#" class="img logo mb-5" style="background-image: url(static/css/Images/logo1.png);"></a>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Search</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <form id="selection" action="{{ url_for('handle_data') }}" method="POST">
                            <fieldset>
                                <legend>Find your home</legend>
                            </fieldset>
                            <label>Preference</label>
                            <div>
                                <input id="slide2" type="range" min="1" max="100" step="1" value="50" oninput="updateSlider(this.value)" name="type1">
                                Price: <span id="type1"></span>
                            </div>
                            <div>
                                <input id="slide" type="range" min="1" max="100" step="1" value="50" oninput="updateSlider1(this.value)" name="type2">
                                Distance: <span id="type2"></span>
                            </div>
                            <div>
                                <input id="slide3" type="range"  min="1" max="100" step="1" value="50" oninput="updateSlider2(this.value)" name="type3">
                                Usability: <span id="type3"></span>
                            </div>
                            <div class="inner-form">
                                <div class="left">
                                    <div class="input-wrap first">
                                        <div class="input-field first">
                                            <label>State</label>
                                            <div class="input-select">
                                                <select onchange="set_state(this.value)" size="1" name="state">
                                                    <option value="" selected="selected">SELECT STATE</option>
                                                    <option value="AL">Alabama (AL)</option>
                                                    <option value="AK">Alaska (AK)</option>
                                                    <option value="AZ">Arizona (AZ)</option>
                                                    <option value="AR">Arkansas (AR)</option>
                                                    <option value="CA">California (CA)</option>
                                                    <option value="CO">Colorado (CO)</option>
                                                    <option value="CT">Connecticut (CT)</option>
                                                    <option value="DE">Delaware (DE)</option>
                                                    <option value="DC">District Of Columbia (DC)</option>
                                                    <option value="FL">Florida (FL)</option>
                                                    <option value="GA">Georgia (GA)</option>
                                                    <option value="HI">Hawaii (HI)</option>
                                                    <option value="ID">Idaho (ID)</option>
                                                    <option value="IL">Illinois (IL)</option>
                                                    <option value="IN">Indiana (IN)</option>
                                                    <option value="IA">Iowa (IA)</option>
                                                    <option value="KS">Kansas (KS)</option>
                                                    <option value="KY">Kentucky (KY)</option>
                                                    <option value="LA">Louisiana (LA)</option>
                                                    <option value="ME">Maine (ME)</option>
                                                    <option value="MD">Maryland (MD)</option>
                                                    <option value="MA">Massachusetts (MA)</option>
                                                    <option value="MI">Michigan (MI)</option>
                                                    <option value="MN">Minnesota (MN)</option>
                                                    <option value="MS">Mississippi (MS)</option>
                                                    <option value="MO">Missouri (MO)</option>
                                                    <option value="MT">Montana (MT)</option>
                                                    <option value="NE">Nebraska (NE)</option>
                                                    <option value="NV">Nevada (NV)</option>
                                                    <option value="NH">New Hampshire (NH)</option>
                                                    <option value="NJ">New Jersey (NJ)</option>
                                                    <option value="NM">New Mexico (NM)</option>
                                                    <option value="NY">New York (NY)</option>
                                                    <option value="NC">North Carolina (NC)</option>
                                                    <option value="ND">North Dakota (ND)</option>
                                                    <option value="OH">Ohio (OH)</option>
                                                    <option value="OK">Oklahoma (OK)</option>
                                                    <option value="OR">Oregon (OR)</option>
                                                    <option value="PA">Pennsylvania (PA)</option>
                                                    <option value="RI">Rhode Island (RI)</option>
                                                    <option value="SC">South Carolina (SC)</option>
                                                    <option value="SD">South Dakota (SD)</option>
                                                    <option value="TN">Tennessee (TN)</option>
                                                    <option value="TX">Texas (TX)</option>
                                                    <option value="UT">Utah (UT)</option>
                                                    <option value="VT">Vermont</option>
                                                    <option value="VA">Virginia</option>
                                                    <option value="WA">Washington</option>
                                                    <option value="WV">West Virginia</option>
                                                    <option value="WI">Wisconsin</option>
                                                    <option value="WY">Wyoming</option>
                                                </select>
                                            </div>
                                            <label>City</label>
                                            <div class="input-select">
                                                <select name="city" id="city">
                                                    <option value="" selected="selected">SELECT CITY</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-wrap second">
                                        <label>Location you matter</label>
                                        <div class="input-field second">
                                            <input id="input" type="text" name="location" placeholder="city or zip" onchange="autoComplete()" />
                                        </div>
                                    </div>
                                </div>
                                <button class=" btn btn-search btn-outline-primary" type="submit">SEARCH</button>
                            </div>
                        </form>
                    </ul>
                </li>
                <li>
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">About</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">About Us</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Di Hu - diihuu@seas.upenn.edu</p>
                                    <p>Tzu-Hao Mo - moderr@seas.upenn.edu</p>
                                    <p>Yunyang Li - liyy@seas.upenn.edu</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <p id="demo"></p>
                </li>
            </ul>
            <div class="footer">
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                </p>
            </div>
        </div>

    </nav>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
        <div id="floating-panel">
            <button onclick="toggleHeatmap()">Toggle Heatmap</button>
            <button onclick="changeGradient()">Change gradient</button>
            <button onclick="changeRadius()">Change radius</button>
            <button onclick="changeOpacity()">Change opacity</button>
        </div>
        <div id="map"></div>
    </div>
</div>
<script src="static/js/jquery-3.5.1.js"></script>
<script src="static/js/popper.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<script type="text/javascript">

    var frm = $('#selection');

    frm.submit(function (e) {
        e.preventDefault();
        //!checkForm()
        if (false) {
            // do nothing
        } else{

            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),

                success: function (data) {
                    document.getElementById("demo").innerHTML = data;
                    window.response = data;
                    heatmap = new google.maps.visualization.HeatmapLayer({
                        data: getPoints(),
                        map: map,
                    });
                    console.log('Submission was successful.');
                    console.log(data);
                },
                error: function (data) {
                    alert("wrong");
                    console.log('An error occurred.');
                    console.log(data);
                },
            });
        };
    });

    function checkForm() {
        if (frm["state"].value == "") {
            alert("State must be filled out correctly");
            return false;
        }
            // else if (frm["location"].value.length == 0)
            // {
            //   // something else is wrong
            //   alert('Address must be filled out correctly');
            //   return false;
        // }
        else if (frm["city"].value.length == 0)
        {
            // something else is wrong
            alert('City must be filled out correctly');
            return false;
        }
        return true;

    }
    // Auto complete input with google API
    function autoComplete (){
        const input = document.getElementById("input");
        const autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.setFields(["address_components", "geometry", "icon", "name"]);
        autocomplete.addListener("place_changed", () => {
            const place = autocomplete.getPlace();
            console.log(place.name);
            console.log(place.geometry);
        });
    }
    // Find ltt and lgn via address with google API
    // function findLL(address) {
    //   https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=YOUR_API_KEY
    // https://maps.googleapis.com/maps/api/geocode/json?address={}+{}+{},+{}+{},+CA&key=YOUR_API_KEY
    // }
    function updateSlider(type1) {
        let sliderDiv = document.getElementById("type1");
        sliderDiv.innerHTML = type1;
    }
    function updateSlider1(type2) {
        let sliderDiv = document.getElementById("type2");
        sliderDiv.innerHTML = type2;
    }
    function updateSlider2(type3) {
        let sliderDiv = document.getElementById("type3");
        sliderDiv.innerHTML = type3;
    }
</script>>
</body>
</html>
